.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}

@media only screen and (max-width: 1120px) {

    .header {
        padding-bottom: 140px;
    }
}

@media only screen and (max-width: 768px) {
    .col-sm-1 {
        width: calc(100% / var(--columns-count) * 1);}
    .col-sm-2 {
        width: calc(100% / var(--columns-count) * 2);}
    .col-sm-3 {
        width: calc(100% / var(--columns-count) * 3);}
    .col-sm-4 {
        width: calc(100% / var(--columns-count) * 4);}
    .col-sm-5 {
        width: calc(100% / var(--columns-count) * 5);}
    .col-sm-6 {
        width: calc(100% / var(--columns-count) * 6);}
    .col-sm-7 {
        width: calc(100% / var(--columns-count) * 7);}
    .col-sm-8 {
        width: calc(100% / var(--columns-count) * 8);}
    .col-sm-9 {
        width: calc(100% / var(--columns-count) * 9);}
    .col-sm-10 {
        width: calc(100% / var(--columns-count) * 10);}
    .col-sm-11 {
        width: calc(100% / var(--columns-count) * 11);}
    .col-sm-12 {
        width: calc(100% / var(--columns-count) * 12);}

    .header {
        padding-bottom: 120px;
    }
}

@media only screen and (max-width: 480px) {
    .col-xs-1 {width: calc(100% / var(--column-count) * 1);}
    .col-xs-2 {width: calc(100% / var(--column-count) * 2);}
    .col-xs-3 {width: calc(100% / var(--column-count) * 3);}
    .col-xs-4 {width: calc(100% / var(--column-count) * 4);}
    .col-xs-5 {width: calc(100% / var(--column-count) * 5);}
    .col-xs-6 {width: calc(100% / var(--column-count) * 6);}
    .col-xs-7 {width: calc(100% / var(--column-count) * 7);}
    .col-xs-8 {width: calc(100% / var(--column-count) * 8);}
    .col-xs-9 {width: calc(100% / var(--column-count) * 9);}
    .col-xs-10 {width: calc(100% / var(--column-count) * 10);}
    .col-xs-11 {width: calc(100% / var(--column-count) * 11);}
    .col-xs-12 {width: calc(100% / var(--column-count) * 12);}

    .header {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 360px) {
       
    .header {
        padding-bottom: 40px;
    }
}