.night {
    height: 30px;
    width: 30px;
    margin-left: 24px;
}

.account {
    height: 40px;
    width: 40px;
    margin-left: 24px;
}

@media only screen and (max-width: 480px) {
    .col-xs-1 {width: calc(100% / var(--column-count) * 1);}
    .col-xs-2 {width: calc(100% / var(--column-count) * 2);}
    .col-xs-3 {width: calc(100% / var(--column-count) * 3);}
    .col-xs-4 {width: calc(100% / var(--column-count) * 4);}
    .col-xs-5 {width: calc(100% / var(--column-count) * 5);}
    .col-xs-6 {width: calc(100% / var(--column-count) * 6);}
    .col-xs-7 {width: calc(100% / var(--column-count) * 7);}
    .col-xs-8 {width: calc(100% / var(--column-count) * 8);}
    .col-xs-9 {width: calc(100% / var(--column-count) * 9);}
    .col-xs-10 {width: calc(100% / var(--column-count) * 10);}
    .col-xs-11 {width: calc(100% / var(--column-count) * 11);}
    .col-xs-12 {width: calc(100% / var(--column-count) * 12);}

    .night {
        width: 20px;
        height: 20px;
        margin-left: 0;
    }

    .account {
        width: 30px;
        height: 30px;
        margin-left: 16px;
    }
}