.content_img {
    max-width: 300px;
}

.content_img img {
    width: 100%;
}

.accent-blue {
    color: #3077C6;
    margin: 25px 0;
    max-width: 296px;
}

.secondary {
    color: #BFBFBF;
    max-width: 296px;
}

@media only screen and (max-width: 1024px) {
    .col-md-1 {
        width: calc(100% / var(--columns-count) * 1);}
    .col-md-2 {
        width: calc(100% / var(--columns-count) * 2);}
    .col-md-3 {
        width: calc(100% / var(--columns-count) * 3);}
    .col-md-4 {
        width: calc(100% / var(--columns-count) * 4);}
    .col-md-5 {
        width: calc(100% / var(--columns-count) * 5);}
    .col-md-6 {
        width: calc(100% / var(--columns-count) * 6);}
    .col-md-7 {
        width: calc(100% / var(--columns-count) * 7);}
    .col-md-8 {
        width: calc(100% / var(--columns-count) * 8);}
    .col-md-9 {
        width: calc(100% / var(--columns-count) * 9);}
    .col-md-10 {
        width: calc(100% / var(--columns-count) * 10);}
    .col-md-11 {
        width: calc(100% / var(--columns-count) * 11);}
    .col-md-12 {
        width: calc(100% / var(--columns-count) * 12);}
    
    .accent-blue, .secondary {
        font-size: 22px;
    }
}

@media only screen and (max-width: 480px) {
    .col-xs-1 {width: calc(100% / var(--column-count) * 1);}
    .col-xs-2 {width: calc(100% / var(--column-count) * 2);}
    .col-xs-3 {width: calc(100% / var(--column-count) * 3);}
    .col-xs-4 {width: calc(100% / var(--column-count) * 4);}
    .col-xs-5 {width: calc(100% / var(--column-count) * 5);}
    .col-xs-6 {width: calc(100% / var(--column-count) * 6);}
    .col-xs-7 {width: calc(100% / var(--column-count) * 7);}
    .col-xs-8 {width: calc(100% / var(--column-count) * 8);}
    .col-xs-9 {width: calc(100% / var(--column-count) * 9);}
    .col-xs-10 {width: calc(100% / var(--column-count) * 10);}
    .col-xs-11 {width: calc(100% / var(--column-count) * 11);}
    .col-xs-12 {width: calc(100% / var(--column-count) * 12);}
    
    .accent-blue, .secondary {
        font-size: 18px;
    }
}